:root{
--accent:#111;
--muted:#9b9b9b;
}
html,body,#root{height:100%;}
body{font-family: 'Georgia', serif; background:#fff; color:var(--accent);}
.container{max-width:1180px}



.site-root main{padding-bottom:60px}